<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>smos-tools</symbolicName>
    <name>SMOS Tools and Utilities</name>
    <version>4.0.1</version>
    <description>
        This module provides several utility classes for SMOS data handling.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010-2013 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        Initial release for Sentinel-3 Toolbox.
    </changelog>

    <categories>SMOS, Tools</categories>

    <dependency>
        <module>snap-binio</module>
    </dependency>

    <dependency>
        <module>snap-core</module>
    </dependency>

</module>