<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>smos-gui</symbolicName>
    <name>SMOS Gui Tools and Utilities</name>
    <version>4.0</version>
    <description>
        This module provides several utility classes for SMOS GUI components.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010-2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        Initial release for Sentinel-3 Toolbox.
    </changelog>

    <categories>SMOS, Tools, GUI</categories>

    <dependency>
        <module>snap-ceres-ui</module>
    </dependency>
    <dependency>
        <module>snap-core</module>
    </dependency>
    <dependency>
        <module>snap-visat-rcp</module>
    </dependency>

</module>